.DS_Store
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv

# Ignore all Parquet files
*.parquet

# Ignore CodeGPT files
.codegpt/

# Ignore all vscode/ folders
.vscode/
.DS_Store
.idea

# Ignore Terraform-related folders due to the large-sized files they contain
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*

**google_credentials.json
**logs/
**.env
**__pycache__/
.history

**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv

# Ignore all Parquet files
*.parquet

# Ignore CodeGPT files
.codegpt/

# Ignore all vscode/ folders
.vscode/
.DS_Store

**google_credentials.json
**logs/
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv

# Ignore all Parquet files
*.parquet

# Ignore the entire keys folder
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv

# Ignore the entire keys folder
keys/
